.loop
  -webkit-animation-iteration-count infinite
.red
  color hsl(0, 62%, 61%)!important
.green
  color hsl(177, 100%, 35%)!important
.purple
  color hsl(247, 27%, 43%)!important
a
  color hsl(197, 87%, 70%)!important
.right
  float right
.step.slide
  .text
    line-height 120px
    font-size 70px
    margin 15px auto
    text-align center
    &.mid
      position relative
      top 220px
  .author
    line-height 10px
  img
    width 100%
    &.small
      width 50%
    &.g0v
      margin-top -50px
      position relative
      left 100px
      width 75%
    &.person
      margin-left 100px
      margin-top -200px
  .title
    font-weight 700

#everybody-cut-tree, #process
  span
    position relative
    top 300px
    left 200px
    background-color hsla(177, 100%, 35%, 0.5)!important
    color white
    font-size 70px
#twgeojson, #rainfall-graph, #visualize-it
  img
    margin 0 100px
    height 100%
    width 75%
#thank-you
  .footer
    position relative
    top 400px
    font-size 22px

// #story-begining
//   padding 0
//   h1
//     font-size 190px
//     -webkit-transform: translateZ(50px)
//     -moz-transform:    translateZ(50px)
//     -ms-transform:     translateZ(50px)
//     -o-transform:      translateZ(50px)
//     transform:         translateZ(50px)
