doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=1024')
    title g0v @ 交大敵霸閣
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic', rel='stylesheet')
    link(rel='stylesheet', type='text/css' href='css/impress-demo.css')
    link(rel='stylesheet', type='text/css' href='css/animate.css')
    link(rel='stylesheet', type='text/css' href='css/app.css')
  body.impress-not-supported
    .fallback-message
      p
        | Your browser
        b doesn&#39;t support the features required
        | by impress.js, so you are presented with a simplified version of this presentation.
      p
        | For the best experience please use the latest
        b Chrome
        | ,
        b Safari
        | or
        b Firefox
        | browser.
    #impress

      #g0v-at-NCTU.step.slide(data-x='-1000', data-y='-1500')
        .text.animated.tada 交大敵霸閣
        img.g0v(src="img/g0v-2line-transparent-s.png")
        .text.author 鄭遠祥 yhsiang

      #who-am-i.step.slide(data-x='0', data-y='-1500')
        h1.text.title 我是？
        ul.text
          li LY
          li 交大資工97級
          li 2013/06 參戰

      #no-more-sunflower-movement.step.slide(data-x='1000', data-y='-1500')
        .text.mid 先別說
          del 太陽花學運
          | 了


      #have-you-heard-open-political-contributions.step.slide(data-x='2000', data-y='-1500')
        .text.mid 你聽過
          span.red 開放政治獻金
          | 嗎？

      #story-begining.step.slide(data-x='0', data-y='0')
        .text.mid 先講個故事

      #what-the-cy.step.slide(data-x='1000', data-y='0')
        .text
          a(href='http://sunshine.cy.gov.tw/GipOpenWeb/wSite/public/Attachment/f1256400980453.doc')
            | 政治獻金會計報告書查閱辦法
        .text 只提供紙本
        .text 不提供
          del.red 電子檔
      #wtf.step.slide(data-x='2000', data-y='0')
        img(src='img/wtf.jpg')

      #first-time.step.slide(data-x='3000', data-y='0')
        .text 第一波政治獻金調查 ..
        .text /
        span.text.red.right 2013.11.23
        img.person.small(src='img/person.png')

      #everybody-cut-tree.step.slide(data-x='4000', data-y='0')
        span 大家來砍柴
        img(src='img/control_yuan.jpg')


      #process.step.slide(data-x='5000', data-y='0')
        span 經歷兩次黑客松 ...
        img(src='img/control_yuan.jpg')

      #what-they-done.step.slide(data-x='6000', data-y='0')
        img(src='img/preocr.png')
        .text ronnywang++

      #what-they-done-2.step.slide(data-x='7000', data-y='0')
        img(src='img/ocr.png')
        .text ctiml++, kiang++ ...

      #real-open-data.step.slide(data-x='8000', data-y='0')
        .text.mid 真。Open Data

      #back-to-origin.step.slide(data-x='-1000', data-y='1000')
        .text.mid.animated.bounce 為什麼要參加g0v？

      #at-first.step.slide(data-x='0', data-y='1000')
        .text 抱持好奇的心態掛IRC
        .text 只是跟著鄉民進來湊熱鬧

      #but.step.slide(data-x='1000', data-y='1000')
        .text.mid
          span.red 沒想到 ...
      #its-a-big-hole.step.slide(data-x='2000', data-y='1000')
        img(src='img/hole.jpg')

      #projects-I-join.step.slide(data-x='3000', data-y='1000')
        .text.mid 我參與了那些專案？

      #env-g0v-tw.step.slide(data-x='-1000', data-y='2000')
        .text.mid env.g0v.tw

      #env-origin.step.slide(data-x='0', data-y='2000')
        .text.mid 源自於
          span.red twgeojson
      #twgeojson.step.slide(data-x='1000', data-y='2000')
        img(src='img/taiwan.png')

      #a-rainy-day.step.slide(data-x='2000', data-y='2000')
        .text.mid 颱風天無聊在家寫程式

      #rainfall-graph.step.slide(data-x='3000', data-y='2000')
        img(src='img/rain.png')

      #air-pollution.step.slide(data-x='4000', data-y='2000')
        .text.mid 好像空氣品質有點問題？

      #visualize-it.step.slide(data-x='5000', data-y='2000')
        img(src='img/air.png')

      #give-a-tip.step.slide(data-x='6000', data-y='2000')
        .text.mid 講個祕訣！

      #relay-race.step.slide(data-x='7000', data-y='2000')
        .text.mid 接力賽

      #env-result.step.slide(data-x='8000', data-y='2000')
        img(src='img/air-result.png')

      #don-republic.step.slide(data-x='-1000', data-y='3000')
        .text.mid 動民主

      #liquid-feedback.step.slide(data-x='0', data-y='3000')
        .text.mid Liquid Feedback

      #pirate-party.step.slide(data-x='1000', data-y='3000')
        .text.mid 德國海盜黨

      #pirate-feedback.step.slide(data-x='2000', data-y='3000')
        .text.mid
          a(href='http://lqfb-test.g0v.tw/pf/') Pirate Feedback g0v endpoint

      #target.step.slide(data-x='3000', data-y='3000')
        h1.text.title 目標
        .text 直接民主

      #mockup.step.slide(data-x='4000', data-y='3000')
        img(src='img/don-republic.png')

      #infra.step.slide(data-x='-1000', data-y='4000')
        .text.mid 基礎建設

      #g0v-tw.step.slide(data-x='0', data-y='4000')
        .text.mid g0v.tw

      #g0v-tw-snapshot.step.slide(data-x='1000', data-y='4000')
        img(src='img/g0v-tw.png')

      #hackfoldr.step.slide(data-x='2000', data-y='4000')
        .text.mid hack.g0v.tw -> hackfoldr

      #hackfoldr-snapshot.step.slide(data-x='3000', data-y='4000')
        img(src='img/hackfoldr.png')

      #how-can-i-join.step.slide(data-x='-1000', data-y='5000')
        .text.mid 其實今天是來找下線的

      #direct-jump-in.step.slide(data-x='0', data-y='5000')
        h1.text.title 跳坑方式
        ul.text
          li.red 聊天室 IRC
          li.green 後勤中心 / 新。後勤中心
          li.purple
            del 跳坑區
            a(href='http://hack.g0v.tw/project') 專案問題
      #IRC.step.slide(data-x='1000', data-y='5000')
        img(src='img/irccloud.png')
        .text #g0v.tw @ freenode
      #logistics-center.step.slide(data-x='2000', data-y='5000')
        img(src='img/center.png')
        .text
          a(href='http://community.g0v.tw') community.g0v.tw
      #project-issues.step.slide(data-x='3000', data-y='5000')
        img(src='img/projects.png')
        .text
          a(href='http://hack.g0v.tw/project') hack.g0v.tw/project
      #core-value-in-g0v.step.slide(data-x='4000', data-y='5000')
        h1.text.title 核心價值
        ul.text
          li.red Open Source
          li.green 先承認你就是沒有人
          li.purple 動手開幹，先搶先贏
      #thank-you.step.slide(data-x='5000', data-y='5000')
        .text.mid 謝謝。
        .footer 本著作由g0v.tw製作，以
          sup *
          span 創用CC姓名標示-相同方式分享 3.0 台灣授權條款
          sup *
          span 釋出

    .hint
      p Use a spacebar or arrow keys to navigate
    script.
      if ("ontouchstart" in document.documentElement) {
        document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
      }
    script(type='text/javascript', src='js/impress.js')
    script(type='text/javascript').
      impress().init();